html {
    position: relative;
    min-height: 100%;
}
body {
    margin-bottom: 80px;
}
#main {
    padding-bottom: 35px;
}
.footer {
    margin-top:35px;
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 80px;
    border-top: 1px solid #ddd;
    background-color: #f1f1f1;
    font-size: 16px;
    padding-top:15px;

}
.navbar {
    font-size: 18px;
    border-radius: 0;
    background-color: #f1f1f1;
    font-weight: 500;
}
.navbar .navbar-brand {
    font-weight: 700;
}
.navbar-default .navbar-nav>li>a {
    color: #578eee;
}
#header-image {
    margin-top:-22px;
    margin-bottom:20px;
}
#cohenTitle {
    color: #404040;
}
#pllcTitle {
    color: #404040;
}
#nicoleauTitle {
    color: #948A54;
}
