<!DOCTYPE html>
<html>

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="container" id="main">
      <div class="col-md-2">
        <img width="100%" src="{{ "/assets/images/{{page.author}}.png" | prepend: site.url }}" class="img-thumbnail img-responsive">
      </div>
      <div class="col-md-10">
        {{ content }}
      </div>
    </div>

    {% include footer.html %}

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>


    </body>
</html>
